<div ng-include="'header.html'"></div>
</div>

<form id="register-form" name="registerForm" class="custom-form" ng-submit="registerUser()" novalidate>
	<md-card class="registration-login-wrapper">
		<h3>Register</h3>
		<md-input-container>
			<label>Username</label>
			<input type="text" name="username" ng-model="newuser.name" required="">
			<div ng-messages="registerForm.username.$error">
				<div ng-message="required">Field is compulsory</div>
			</div>
		</md-input-container>

		<md-input-container>
			<label>Email</label>
			<input type="email" ng-model="newuser.email" name="email" required="">
			<div ng-messages="registerForm.email.$error">
				<div ng-message="required">Field is compulsory</div>
			</div>
		</md-input-container>

		<md-input-container>
			<label>Password</label>
			<input type="password" ng-model="newuser.password" name="password" required="">
			<div ng-messages="registerForm.password.$error">
				<div ng-message="required">Field is compulsory</div>
			</div>
		</md-input-container>

		<md-button class="md-raised md-primary" type="Submit">Sign Up</md-button>
	</md-card>
</form>