<!-- <h3>Register</h3>
<form ng-submit="registerUser()" name="registerForm" novalidate>
	<input class="form-control" type="text" placeholder="Enter Name" ng-model="newuser.name" name="username"
		ng-required="true">
	<div ng-show="registerForm.username.$touched && registerForm.username.$invalid">
		<small class="form-warning">Enter a valid name</small>
	</div>
	<div ng-show="registerForm.username.$touched && registerForm.username.$valid">
		<small class="form-success">Username valid</small>
	</div>

	<input class="form-control" type="email" placeholder="Enter Email Address" ng-model="newuser.email" name="useremail"
		ng-required="true">
	<div ng-show="registerForm.useremail.$touched && registerForm.useremail.$invalid">
		<small class=" form-warning">Enter a valid email</small>
	</div>

	<div ng-show="isRegistered">
		<small class="form-warning">Email already registered</small>
	</div>
	<div ng-show="registerForm.useremail.$touched && registerForm.useremail.$valid">
		<small class="form-success">Email Valid</small>
	</div>
	<input class="form-control" type="password" placeholder="Enter Password" ng-model="newuser.password"
		name="userpassword" ng-required="true">
	<div ng-show="registerForm.userpassword.$touched && registerForm.userpassword.$invalid">
		<small class="form-warning">Enter a valid password</small>
	</div>
	<button type="Submit" class="btn btn-success">Submit</button>
</form> -->

<form id="register-form" name="registerForm" class="custom-form" ng-submit="registerUser()" novalidate>
	<md-card class="registration-login-wrapper">
		<h3>Register</h3>
		<md-input-container>
			<label>Username</label>
			<input type="text" name="username" ng-model="newuser.name" required="">
			<div ng-messages="registerForm.username.$error">
				<div ng-message="required">Field is compulsory</div>
			</div>
		</md-input-container>

		<md-input-container>
			<label>Email</label>
			<input type="email" ng-model="newuser.email" name="email" required="">
			<div ng-messages="registerForm.email.$error">
				<div ng-message="required">Field is compulsory</div>
			</div>
		</md-input-container>

		<md-input-container>
			<label>Password</label>
			<input type="password" ng-model="newuser.password" name="password" required="">
			<div ng-messages="registerForm.password.$error">
				<div ng-message="required">Field is compulsory</div>
			</div>
		</md-input-container>

		<md-button class="md-raised md-primary" type="Submit">Sign Up</md-button>
	</md-card>
</form>